.box{
    display: block;
    border-color: black;
    border: solid;
    height: 477px;
    width: 800px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.7px;
    transition: all 3s;
}

.box:hover{
    border-radius: 30px;
    flex-basis: | auto;
}

.box:hover #square1{
    transform: translate(381px) rotate(-1080deg) scale(0.75, 0.75) ;
}

.box:hover #square2{
    transform: translateX(-350px) rotate(1080deg) scale(2, 2) ;
}

#square1{
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    transition: all 3s;
    transition-timing-function: ease-in-out;
}

#square2{
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;    
    border: 3px solid;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    transition: all 3s;
    transition-timing-function: ease-in-out;
}